* {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	font-size: 13px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

html, body {
	height: 100%;
	font-family: Arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-align: center;
}

.top-nav {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	display: block;
	padding-right: 29px;
	height: 32px;
	line-height: 32px;
	margin-top: 15px;
}

.top-nav img {
	display: block;
	height: 25px;
	padding-top: 2.5px;
	float: right;
	opacity: 0.5;
}

.top-nav li {
	float: right;
	padding-left: 16px;
}

.sign-in {
	font-weight: bold;
	color: rgb(255, 255, 255);
	background-color: rgb(66, 133, 244);
	border: 1px;
	border-style: solid;
	border-radius: 3px;
	line-height: 30px;
	padding-left: 13px;
	padding-right: 13px;
	text-decoration: none;
}

.top-nav a:hover {
	text-decoration: underline;
}

.top-nav img:hover{
	opacity: 1;
}

a .sign-in:hover {
	display: inline-block;
	text-decoration: none;
}

.wrapper{
	position: relative;
	min-height: 100%;
}

.search-tool {
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	padding-bottom: 60px;
	padding-top: 24px;
}

.search-tool img {
    display: inline;
    margin: 0 auto;
    height: 94px;
    margin-top: 89px;
    padding-top: 83px;
}

.search-tool form input[type="text"] {
	margin-top: 28px;
	width: 490px;
	height: 45px;
	border-style: solid;
	box-shadow: 0px 3px rgba(243,243,243, 0.8);
	border-color: #e2e2e2;
	border-bottom-color: rgba(180,180,180, 1);
	border-width: 1px;
	font-size: 20px;
	text-align: left;
	padding-left: 14px;
}

.search-tool form input[type="text"]:hover {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

.search-tool form input[type="submit"] {
	margin-top: 30px;
	border: 0 none;
	background-color: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(242, 242, 242);
	height: 36px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 13px;
	font-weight: bold;
	color: rgb(117, 117, 117);
	margin-left: 2px;
	margin-right: 2px;
}

.search-tool form input[type="submit"]:hover {
	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(180, 180, 180);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16)
}

.bottom-nav {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	height: 40px;
	display: block;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	padding-left: 30px;
	padding-right: 30px;
}

.bottom-nav a{
	color: #666;
}

.bottom-nav li {
	padding-top: 13px;
}

.bottom-nav-left li {
	float: left;
	padding-right: 31px;
}

.bottom-nav-right li {
	float: right;
	padding-left: 31px;
}

.bottom-nav a:hover {
	text-decoration: underline;
}