html {

}

body {
	text-align: center;
	font-family: arial, sans-serif;
	font-size: 13px;
}

.top-nav {
	position: absolute;
	right: 0;
	left: 0;
	padding: 0;
	display: block;
}

.top-nav li {
	float: right;
	padding-right: 30px;
}

a {
	text-decoration: none;
}

.search-tool {
	position: relative;
	padding-bottom: 60px;
}

img {
    display: block;
    margin: 0 auto;
    height: 94px;
    margin-top: 89px;
    padding-top: 83px;
}

form input[type="text"] {
	margin-top: 30px;
	width: 490px;
	height: 45px;
	border-style: solid;
	box-shadow: 0px 3px rgba(243,243,243, 0.8);
	border-color: #e2e2e2;
	border-bottom-color: rgba(180,180,180, 1);
	border-width: 1px;
}

form input[type="text"]:hover {
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16), 0 4px 10px 0 rgba(0, 0, 0, 0.1);
}

form input[type="submit"] {
	margin-top: 30px;
	border: 0 none;
	background-color: #f2f2f2;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(242, 242, 242);
	height: 36px;
	padding-left: 16px;
	padding-right: 16px;
	font-size: 13px;
	font-weight: bold;
	color: rgb(117, 117, 117);
}

form input[type="submit"]:hover {
	color: black;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(180, 180, 180);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.16)
}

.bottom-nav {
	position: absolute;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 0;
	height: 40px;
	display: block;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
}

.bottom-nav a{
	color: #666;
}

.bottom-nav li {
	margin-top: 10px;
}

.bottom-nav-left li {
	float: left;
	padding-left: 30px;
}

.bottom-nav-right li {
	float: right;
	padding-right: 30px;
}

.bottom-nav a:hover {
	text-decoration: underline;
}